
/* ---------------------------------------------------
imports
---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu');


/* ---------------------------------------------------
layouts
---------------------------------------------------- */

html {
    font-family: Ubuntu;
}

body {
    font-family: Ubuntu;
}

/* --------------------------------------------------------------------------
sidebar
-----------------------------------------------------------------------------*/

#sidebar-completa {
    background: #f3f3f3;
}

.space-sidebar{
    background-color: #4d4d4d;
    color: #4d4d4d;
}

.sidebar-texto {
    color: #4d4d4d;
    padding-left: 10px;
    font-size: 13px;
}

#fatura-nubank:hover {
    color: #d4d4d4;
    background-color: #b4a7d6;
}

#fatura-inter:hover {
    color: #d4d4d4;
    background-color: #ffe599;
}

#detalhamento:hover {
    color: #4d4d4d;
    background-color: #d0e0e3;
}

/* --------------------------------------------------------------------------
navbar
-----------------------------------------------------------------------------*/

#navbar {
    background-color: #4d4d4d;
}

.titulo-navbar {
    color: #fff;
    padding-bottom: 5px;
}

#contas-bancarias{
    margin-left: 50px;
}

.total-inter-nav {
    color: #ff7900;
    font-size: 13px;
}

.total-nubank-nav {
    color: #b4a7d6;
    font-size: 13px;
}

.total-bb-nav {
    color: #ffe599;
    font-size: 13px;
}

.total-cash-nav {
    color: #b6d7a8;
    font-size: 13px;
}

.total-c-inter-nav {
    color: #ff7900;
    font-size: 13px;
}

.total-c-nubank-nav {
    color: #b4a7d6;
    font-size: 13px;
}

/* --------------------------------------------------------------------------
dashboard home
-----------------------------------------------------------------------------*/

#dropdown-home {
    padding-left: 25px;
}

#ano-home {
    font-size: 13px;
}

#mes-home {
    font-size: 13px;
}

.cards-gastos {
    color: #a61c00;
    font-size: 13px;
    border: 1px solid #a61c00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.cards-entradas {
    color: #274e13;
    font-size: 13px;
    border: 1px solid #274e13;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.cards-leftovers {
    color: #1c4587;
    font-size: 13px;
    border: 1px solid #1c4587;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    text-align: left;
}

/* --------------------------------------------------------------------------
botão home
-----------------------------------------------------------------------------*/

.to-home {
    padding: 7px;
    font-size: 13px;
    color: #4d4d4d;
}

.to-home:hover {
    padding: 7px;
    font-size: 13px;
    color: #4d4d4d;
    text-decoration: underline;
}

/* --------------------------------------------------------------------------
fatura nubank
-----------------------------------------------------------------------------*/

#ano-nubank {
    font-size: 13px;
}

#mes-nubank {
    font-size: 13px;
}

.dropdown-faturas {
    padding-left: 25px;
}

/* --------------------------------------------------------------------------
fatura inter
-----------------------------------------------------------------------------*/

#ano-inter {
    font-size: 13px;
}

#mes-inter {
    font-size: 13px;
}


/* --------------------------------------------------------------------------
detalhamento
-----------------------------------------------------------------------------*/

#ano-detalhamento {
    font-size: 13px;
}

#mes-detalhamento {
    font-size: 13px;
}

.titulo-texto {
    padding-right: 5px;
}

.titulo-secao {
    font-size: 18px;
    color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    margin-left: 25px;
    margin-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 25px;
    margin-bottom: 15px;
}

#dropdown-details {
    padding-left: 25px;
    padding-top: 10px;
}

#dash-details {
    padding-left: 25px;
    padding-top: 10px;
}

#tabela-detalhamento {
    padding-top: 40px;
}

#grafico-detalhamento {
    padding-top: 10px;
}

#clear {
    font-size: 13px;
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(237, 243, 251);
    padding: 5px;
    font-weight: 400;
    margin-top: 20px;
    transition: 0.3s;
}

#clear:hover {
    background-color: rgb(237,243,251);
    color: rgb(0,0,0)
}